@font-face {
    font-family: myHeadFont;
    src: url(/pratikk14/fonts/HelloAvocado.ttf);
}

@font-face {
    font-family: myabout;
    src: url(/pratikk14/fonts/Christian\ Heedlay.ttf);
}

@font-face {
    font-family: shadowdead;
    src: url(/pratikk14/fonts/Shadow\ of\ the\ Deads.ttf);
}

@font-face {
    font-family: boardingpersonal;
    src: url(/pratikk14/fonts/Boarding\ PersonalUse.ttf);
}

@font-face {
    font-family: please;
    src: url(/pratikk14/fonts/please.ttf);
}
/* * { border: 1px solid red; } */

html {
    
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background:  url(https://bloodrine14.github.io/pratikk14/images/lubo.jpg) no-repeat center center fixed;
    /* background-size: cover; */ 
    /* background-image: url(../mysite/images/lubo.jpg);
    background-repeat: no-repeat; */
    color: white;
}


/* HEADER */

.head-contain {
    display: flex;
    justify-content: center;
    font-size: 20px;
    /* border-style: outset;
    border-left-color: black;
    border-right-color: black;
    border-top-color: white;
    border-bottom-color: white; */
    /* width: 10.8em; */
    color: white;
    font-family: shadowdead;
    flex-wrap: wrap;
    /* background-image: linear-gradient(to right, black , #ff3333, black); */
    /* background-image: url(../mysite/images/headerbg.jpg); */
}

.head-contain1 {
    display: flex;
    font-size: 20px;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.head-item1 {
    margin: 0.5em;
    padding: 0.5em;
}

.head-item2 {
    margin: 0.5em;
    padding: 0.5em;
}

.head-item3 {
    margin: 0.5em;
    padding: 0.5em;
}

.head-item4 {
    margin: 0.5em;
    padding: 0.5em;
}

.head-item5 {
    margin: 0.5em;
    padding: 0.5em;
}

.head-contain2 {
    display: flex;
    font-size: 20px;
    margin-left: auto;
    flex-grow: 0;
}

.head-item5 {
    margin: 0.7em;
    padding: 0.5em;
}

.head-item6 {
    margin: 0.5em;
    padding: 0.5em;
    border: 0.1em solid red;
    background-color: black;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

/*  */

.about-me {
    font-family: myabout;
    color: white;
}

.about-me h3 {
    font-family: myHeadFont;
    color: #EFD8D8;
}

.mydp {
    width: 8em;
    height: 8em;
}

.mydp img {
    width: 14em;
    height: 14em;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(0px);
}

.myabout {
    top: 6em;
    left: 35em;
}


/* ABOUT ME SECTION*/

#about-me-section {
    height: 30em;
    border: 0.2em solid white;
    position: relative;
}

.myhandles {
    position: absolute;
    top: 4em;
    left: 4em;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.myhandles .myname {
    font-family: myHeadFont;
    font-size: 2.8ch;
}

.myhandles .mychar img{
    width: 12em;
    height: 12em;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(0px);
}

.myhandles .githubhandle img {
    width: 4em;
    height: 4em;
}

.myhandles .mynetworks img {
    width: 2em;
    height: 2em;
}

.aboutme {
    position: absolute;
    top: 4em;
    left: 22em;
}

.aboutme .button-abtme {
    font-family: please;
    font-size: 3ch;
    font-weight: 600;
    color: red;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(0px);
}


.aboutme p {
    font-family: please;
    font-size: 3ch;
    font-weight: 700;
}

/* SKILLS */

#skills {
    height: 30em;
    border: 0.2em solid white;
    position: relative;
}

.langskills {
    position: absolute;
    top: 0em;
    left: 22em;
}

.langskills .button-skills {
    font-family: please;
    font-size: 3.3ch;
    font-weight: 600;
    color: red;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(0px);
}

.langlogos {
    position: absolute;
    top: 5em;
    left: 22em;
    display: flex;
    flex-wrap: wrap;
}

.langlogos div img {
    margin: 1em;
    width: 8em;
    height: 8em;
}


/* @media screen and (max-width: 1200px) and (min-width: 1000px) {

    .langskills {
        left: 18em;
    }

    .langlogos-s {
        left: 18em;
    }

}

@media screen and (max-width: 1000px) and (min-width: 920px) {

    .langskills {
        left: 16em;
    }

    .langlogos-s {
        left: 16em;
    }

}

@media screen and (max-width: 920px) and (min-width: 830px) {

    .head-contain1 {
        flex-wrap: wrap;
    }

    .langskills {
        left: 10em;
    }

    .langlogos-s {
        left: 10em;
    }

    
}

@media screen and (max-width: 830px) and (min-width: 0px) {

    .head-contain1 {
        flex-wrap: wrap;
    }

    .langskills {
        left: 1em;
    }

    .langlogos-s {
        left: 1em;
    }

} */

@media screen and (max-height: 414px) and (orientation: landscape) {

    body {
        background-position: initial;
        background-attachment: initial;
    }

    .head-contain1 {
        font-size: 14px;
        flex-wrap: nowrap;
    }

    .head-item1 , .head-item2 , .head-item4 , .head-item5 {
        margin: 0.2em;
        padding: 0.2em;
    }

    #about-me-section {
        border: initial;
        height: 40em;
        display: flex;
        flex-direction: column;
    }

    .myhandles {
        position: relative;
        top: initial;
        left: initial;
        margin-top: 1em;
    }
    
    .myhandles .mychar img{
        width: 9em;
        height: 9em;
    }

    .myhandles .githubhandle img {
        width: 3em;
        height: 3em;
    }

    .myhandles .mynetworks img {
        width: 1.8em;
        height: 1.8em;
    }

    .aboutme {
        position: relative;
        top: initial;
        left: initial;
    }

    .aboutme .button-abtme {
        margin-top: 1.5em;
        margin-left: 0.5em;
        font-size: 2.5ch;
    }

    .aboutme p {
        margin: 0.5em;
        font-size: 2.5ch;
    }

    #skills {
        border: initial;
        height: 19em;
        display: flex;
        flex-direction: column;
    }

    .langskills {
        position: relative;
        top: initial;
        left: initial;
    }
    
    .langskills .button-skills {
        margin-top: 1.5em;
        margin-left: 0.5em;
        font-size: 2.5ch;
    }

    .langlogos {
        position: relative;
        top: initial;
        left: initial;
    }

    .langlogos div img {
        width: 4em;
        height: 4em;
    }

}

@media screen and (max-width: 414px) and (orientation: portrait){

    body {
        background-position: initial;
        background-attachment: initial;
    }

    .head-contain1 {
        font-size: 14px;
        flex-wrap: nowrap;
    }

    .head-item1 , .head-item2 , .head-item4 , .head-item5 {
        margin: 0.2em;
        padding: 0.2em;
    }

    #about-me-section {
        border: initial;
        height: 40em;
        display: flex;
        flex-direction: column;
    }

    .myhandles {
        position: relative;
        top: initial;
        left: initial;
        margin-top: 1em;
    }
    
    .myhandles .mychar img{
        width: 9em;
        height: 9em;
    }

    .myhandles .githubhandle img {
        width: 3em;
        height: 3em;
    }

    .myhandles .mynetworks img {
        width: 1.8em;
        height: 1.8em;
    }

    .aboutme {
        position: relative;
        top: initial;
        left: initial;
    }

    .aboutme .button-abtme {
        margin-top: 1.5em;
        margin-left: 0.5em;
        font-size: 2.5ch;
    }

    .aboutme p {
        margin: 0.5em;
        font-size: 2.5ch;
    }

    #skills {
        border: initial;
        height: 19em;
        display: flex;
        flex-direction: column;
    }

    .langskills {
        position: relative;
        top: initial;
        left: initial;
    }
    
    .langskills .button-skills {
        margin-top: 1.5em;
        margin-left: 0.5em;
        font-size: 2.5ch;
    }

    .langlogos {
        position: relative;
        top: initial;
        left: initial;
    }

    .langlogos div img {
        width: 4em;
        height: 4em;
    }


}








